@{
    ViewBag.Title = "Log On";
}
<h2>
    Log On</h2>
<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register")
    if you don't have an account.
</p>
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{

    
    <div>
        @Form.TextBoxRequired("Email")
    </div>

    <div>
        @Form.PasswordRequired("Password")
       
    </div>
    <p>
        <input type="submit" value="Log On" />
    </p>
}
