<footer class="footer" style="background-color:#DCDCDC;">
    <div class="container" style="margin:0 auto;">
        <div class="row">
            <div class="span2 ">
                <h4>JQuery</h4>
               


            </div>

            <div class="span2 offset1">
                <h4>.NET</h4>
              
           </div>

            <div class="span2 offset0">
                <h4>Rails</h4>
              
            </div>

             <div class="span2 offset0">
                  <h4>RSS</h4>
                  <a type="application/rss+xml" href="@Url.Action("PostFeed", "Posts")">
                    Subscribe to my RSS Feed
                 </a>
              </div>

               <div class="span2 offset1">
                    <h4>Contact</h4>
                    <ul>
                      <li><a href="http://www.linkedin.com/pub/harsh-bhasin/16/210/919">Linked in </a> </li>
                      <li><a href="https://github.com/harshb/">Github</a> </li>
                      <li><a href="https://masterbranch.com/harshb">Masterbranch</a> </li>
                      <li><a href="http://wiki.harshbhasin.com/hackerwiki">Hacker Wiki</a></li>
                      <li><a href="http://publishedsubmissionstracker.com/">Published!</a></li>
                    </ul>

                </div>


        </div>
    </div>
</footer>